<clr-main-container>
<div class="card" *ngIf="recipe">
        <div class="card-img">
            <img src="{{ recipe.images[0].hostedLargeUrl }}">
        </div>
        <div class="card-block">
            <h4 class="card-title">{{ recipe.name }}</h4>
            <p class="card-text">
                   {{ recipe.attributes.course }} 
            </p>
        </div>
        <div class="ingredientLines">
            {{ recipe.ingredientLines }}
        </div>
        <div class="card-footer">
            <button (click)=addRecipes() *ngIf="loggedIn" class="btn btn-primary">Add to list</button>
            <button type="button" routerLink="/recipes"class="btn btn-icon btn-primary">
                <clr-icon shape="undo"></clr-icon>
            </button>
        </div>
    </div>

    <div class="footer-container">
        <footer>
            <div class="footer-div"> Recipe App made by Astrid Sinabian</div>
        </footer>
    </div>
            
</clr-main-container>