<clr-main-container>
<div class="card" *ngIf="recipes">
        <div class="card-img">
            <img src="{{ recipes.images[0].hostedLargeUrl }}">
        </div>
        <div class="card-block">
            <h4 class="card-title">{{ recipes.name }}</h4>
            <p class="card-text">
                   {{ recipes.attributes.course }} 
            </p>
        </div>
        <div class="ingredientLines">
            {{ recipes.ingredientLines }}
        </div>
        <div class="card-footer">
            <button (click)="addRecipeToList()" *ngIf="loggedIn" class="btn btn-primary">Add to list</button>
            <button routerLink="/recipes" class="btn btn-primary">Back</button>
        </div>
    </div>

    <div class="footer-container">
        <footer>
            <div class="footer-div"> Recipe App made by Astrid Sinabian</div>
        </footer>
    </div>
            
</clr-main-container>