<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-header">
                Register
            </div>
            <form #registerForm=ngForm (ngSubmit)="onSubmit()">
            <div class="card-block">

                <div class="card-text" >
                  <clr-input-container>
                    <input type="text" name="name" clrInput placeholder="Name" 
                    [(ngModel)]="form.name" required/>
                </clr-input-container>

                <div class="alert alert-danger" role="alert" [hidden]="!error.name">
                    <div class="alert-items">
                        <div class="alert-item static">
                            <div class="alert-icon-wrapper">
                                <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                            </div>
                            <span class="alert-text">
                                {{ error.name }}
                            </span>
                        </div>
                    </div>
                </div>
                
                    <clr-input-container>
                      <input type="text" name="email" clrInput placeholder="Email" 
                      [(ngModel)]="form.email" required/>
                  </clr-input-container>

                  <div class="alert alert-danger" role="alert" [hidden]="!error.email">
                      <div class="alert-items">
                          <div class="alert-item static">
                              <div class="alert-icon-wrapper">
                                  <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                              </div>
                              <span class="alert-text">
                                  {{ error.email }}
                              </span>
                          </div>
                      </div>
                  </div>

                  <clr-password-container>
                      <input type="password" name="password" clrPassword placeholder="Password" [(ngModel)]="form.password" required/>
                  </clr-password-container>

                  <div class="alert alert-danger" role="alert" [hidden]="!error.password">
                      <div class="alert-items">
                          <div class="alert-item static">
                              <div class="alert-icon-wrapper">
                                  <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                              </div>
                              <span class="alert-text">
                                  {{ error.password }}
                              </span>
                          </div>
                      </div>
                  </div>

                  <clr-password-container>
                      <input type="password" name="password_confirmation" clrPassword placeholder="Confirm password" [(ngModel)]="form.password_confirmation" required/>
                  </clr-password-container>

            </div>
            </div>
            <div class="card-footer">

            <button type="submit" class="btn btn-primary" [disabled]="!registerForm.valid">Register</button>

            <button class="btn btn-info" routerLink="/login">Sign in</button>
            
        </div>
          </form>
        </div>
    </div>