


        <header class="header-6">

                <div class="branding">
                    <button class="btn btn-link">Login</button>  
                    <button routerLink="/recipes" class="btn btn-link">Recipes</button> 
                </div>

            <div class="app-title">
                <span ><clr-icon shape="book" size="32"></clr-icon> {{ title }}</span>
            </div>
                <div class="header-actions">
                        
                        <form class="search">
                                <label for="search_input">
                                    <input id="search_input" type="text" placeholder="Search for keywords...">
                                </label>
                            </form>
                </div>


                
            </header>

            <div class="content-container">
                    <main class="content-area">
                        <div id="form-div">
                            <form class="form-big">
                                <label>
                                        <input id="search-big" type="search" placeholder="Search recipes...">
                                </label>
                                <button type="button" class="btn btn-icon">
                                        <clr-icon shape="search"></clr-icon>
                                </button>
                            </form>
                        </div>
        </main>
    </div>
          
    <router-outlet></router-outlet> 






              


            
