<header class="header-6">

    <div class="branding">
        <button class="btn btn-link">Login</button>  
        <button routerLink="/recipes" class="btn btn-link">Recipes</button> 
    </div>

    <div class="app-title">
        <span ><clr-icon shape="book" size="32"></clr-icon> {{ title }}</span>
    </div>
    
    <div class="header-actions">
        <form class="search">
            <label for="search_input">
                <input id="search_input" type="text" placeholder="Search for keywords...">
            </label>
        </form>
    </div>

</header>

          
<router-outlet></router-outlet> 






              


            
