.recipe-list {
    display: flex;
    justify-content: space-between;
}

.clr-row {
    margin: 0;
    display: flex;
    justify-content: center;
}

.card {
  
    width: 80%;
}

.card-header {
    text-align: center;
}

.added-recipe {
    padding: 5px;
}

