<div class="clr-row">
      <div class="card">
          <div class="card-header">
              Recipe List
          </div>
          <div class="card-block">
              <div class="list">
                    <div class="recipe-list" *ngFor="let recipe of savedRecipe">
                        <div class="added-recipe"> {{ recipe.name }}</div>
                        <div class="button-container">
                            <button type="button" class="btn btn-icon btn-warning" (click)="deleteRecipe(recipe.id)">
                                <clr-icon shape="trash"></clr-icon>
                            </button>
                        </div>
                </div>
            </div>
          </div>
    
      </div>
  </div>
