html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

h1 {
  display: flex;
  justify-content: center;
  font-family: 'Quicksand', sans-serif;
  color: rgb(88, 86, 86);
}

.recipe-all-info {
  columns: 2;
  padding: 0;
  margin: 0;
  column-gap: 10px;
}

.recipe-name {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  list-style: none;
  font-family: 'Quicksand', sans-serif;
  border: 1px black solid;
  padding: 10px;
  margin: 10px;
  width: 200px;
  height: 200px;
  page-break-inside: avoid;
}

.recipe-img {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

img {
    width: 200px;
    height: 300px;
}