<clr-main-container>
<div>
                <input [(ngModel)]="searchString" />
                <button (click)="search()">search</button>

            </div>
    <h1>Recipes</h1>
   
    <div *ngIf="recipes">
    <div class="clr-row">
        <div class="clr-col-lg-3 clr-col-6" *ngFor="let recipe of recipes">
            <a class="card clickable" routerLink="/recipes/{{recipe.id}}">
                <div class="card-img">
                    <img src="{{ recipe.smallImageUrls }}">
                </div>
                <div class="card-block">
                    <p class="card-text">{{ recipe.recipeName }}<br>
                    <strong>id:</strong> {{ recipe.id }}
                    </p>

                </div>
            </a>
        </div>
    </div> 

</div>



</clr-main-container>

